<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="../mybook/styles/feed.css"/>
<link rel="stylesheet" href="../mybook/styles/profile.css"/>
</head>

<body onload="init()" ng-controller="homeController"> 
<div class ="pageheader">

My Book
<div class ="floatRight">
	<button class ="buttonStyle" type="button" ng-click= "logout()" >Sign Out</button> 
</div>
</div>

<div class="navigation">
		<ul>
			<li onmousedown="loadFeeds()" id ="feedMenu" >Feed</li><br>
			<li onmousedown="loadProfile()"  id ="profileMenu" >Profile</li>
		</ul>
</div>

<div class="content">
	<div id="feedDetails" >	
		<br>	
		<input type = "text"  class ="inputStyle"  ng-model="feedValue" id="feedValue">
		<button class ="buttonStyle" type="button" ng-click= "addPost()" >Post</button> <br>
		<div id="myExample">	
		        
        <table ng-table="tableParams" class="table">
        <tr ng-repeat="feed in $data">
		   <!-- <td data-title=""><img src="../mybook/images/profile.png" alt="profile" height="60" width="80" ></td> -->
            <td data-title="'Post Name'">{{feed}}</td>
            <td data-title="'Created Date'">{{feed.time}}</td>		
        </tr>
        </table>	
		</div>		
	</div> 	
</div>

</body>
</html>