<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="../mybook/styles/mybook.css"/>
</head>

<body> <form name = "myform" ng-controller="loginController">
<div class ="header ">
<div class ="floatLeft">
	My Book
</div>

<div class ="floatRight">
	<input  class ="inputStyle" type="text"  ng-model="userName" placeholder="User Name" name="username">
	<input  class ="inputStyle" type="password" ng-model="password" placeholder="Password"  name="pword">
	<button class ="buttonStyle" type="button" ng-click="login()" >Sign In</button> 
</div>
</div>
</form>
<div class="section">

</div>

</body>
</html>